{% extends 'base.html'%}
{% block 'content' %}

<div class="container text-start py-5" style="font-family: Courier Prime;"> 

        <h2 class="text-center py-5">Preguntas Frecuentes (FAQ)</h2>

        <h3 class="pt-5">1. ¿Quiénes son las fundadoras de Only Purin?</h3>

        <p class="pb-5">Only Purin fue fundada por Yuki y Hana, dos chicas japonesas apasionadas por la repostería. Ellas han combinado la delicadeza de la cocina japonesa con ingredientes frescos y auténticos de Chile para crear flanes artesanales únicos.</p>

        <h3 class=>2. ¿Qué hace que los flanes de Only Purin sean especiales?</h3>

        <p class="pb-5">Nuestros flanes son únicos porque fusionan técnicas japonesas tradicionales con ingredientes chilenos de alta calidad. Este enfoque nos permite ofrecerte un sabor y una textura que no encontrarás en ningún otro lugar.</p>

        <h3 >3. ¿Qué tipos de flanes venden en Only Purin?</h3>

        <p class="pb-5">En Only Purin ofrecemos una variedad de sabores, desde los clásicos como vainilla y caramelo hasta combinaciones más innovadoras que incluyen ingredientes chilenos, como damasco y manjar.</p>

        <h3 > ¿Utilizan conservantes o aditivos en sus flanes?</h3>

        <p class="pb-5">No, nuestros flanes son 100% naturales. No utilizamos conservantes ni aditivos, garantizando un producto fresco y saludable.</p>

        <h3>5. ¿Cómo se garantiza la frescura de los flanes?</h3>

        <p class="pb-5">Nuestros flanes se preparan diariamente con ingredientes frescos y se almacenan en condiciones óptimas para asegurar que cada flan que recibas esté en su mejor estado.</p>

        <h3>6. ¿Cómo se conocieron Yuki y Hana?</h3>

        <p class="pb-5">Yuki y Hana se conocieron en una escuela de repostería en Japón, donde compartieron su pasión por los postres. Tras mudarse a Chile, decidieron emprender juntas y crear Only Purin, combinando lo mejor de ambas culturas culinarias.</p>

        <h3 >7. ¿Cuál es la inspiración detrás de Only Purin?</h3>

        <p class="pb-5">La inspiración detrás de Only Purin surge de la combinación de la tradición japonesa y la riqueza de los ingredientes chilenos. Yuki y Hana querían crear un postre que reflejara sus raíces y al mismo tiempo celebrara su nuevo hogar en Chile.</p>

        <h3>8. ¿Dónde se elaboran los flanes de Only Purin?</h3>

        <p class="pb-5">Nuestros flanes se elaboran en nuestra cocina artesanal en [ubicación de la cocina], donde Yuki y Hana supervisan cada paso del proceso para asegurar la máxima calidad.</p> 

        <h3>9. ¿Qué ingredientes chilenos utilizan?</h3>

        <p class="pb-5">Utilizamos  una variedad de ingredientes locales, como la lúcuma, el maqui, y la miel de ulmo, entre otros, para darle un toque único y delicioso a nuestros flanes.</p>

        <h3>10. ¿Only Purin tiene alguna iniciativa de sostenibilidad?</h3>

        <p></p>Sí, en OPurin nos preocupamos por el medio ambiente. Utilizamos envases reciclables y trabajamos con proveedores locales para reducir nuestra huella de carbono.


</div></p>
















{% endblock %}