{% load static %}

<section id="all-footer p-0 m-0">
    
        <div class="row p-0 m-0">
            
            <div id="flan02" class="col-md-6 container-fluid p-0 m-0">
                    <img src="{% static 'flan02.svg' %}"  alt="image" style="width: 32.5%; align-content: start;" id="flan02" height="101%" >
            </div>

            <div id="flan03" class="col-md-6 container-fluid d-none d-md-block p-0 m-0">
                    <img src="{% static 'flan04.svg' %}"  alt="image" style="width: 32.5%; align-content: end;" id="flan03" >
            </div>
            
        </div>
    </div>

<!-- <div style="background:#743A32" class="pt-5"> -->
<div class="container-fluid" style="background:#743A32">
        <div class="container pt-5" style="color: aliceblue; font-family: 'Courier Prime';"> 
            <div class="row">
                <div class="row col-md-3">
                    <h3 style="font-weight: 700; font-size: 30;"> 
                        ¿Necesitas ayuda?
                    </h3>
                    <ul style="font-weight: 300; font-size: 18; padding-left: 20px;">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'compra' %}">¿Cómo comprar?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reembolso'%}">Reembolso</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'faq' %}">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                    </ul>
                </div>
            


                <div class="row col-md-3">
                    <h3 style="font-weight: 700; font-size: 30;"> 
                        Políticas
                    </h3>
                    <ul style="font-weight: 300; font-size: 18; padding-left: 20px;">
                        <li>Términos y<br>condiciones</li>
                        <li>Privacidad</li>
                    </ul>
                </div>


                <div class="row col-md-4">
                    <h3 style="font-weight: 700; font-size: 30;"> 
                        Métodos de pago
                    </h3>
                    <div id="pagos" class="col-md">
                        <img src="{% static 'visa.svg' %}" class="" alt="image" style="width: 80px;">
                        <img src="{% static 'mercadopago.svg' %}" class="" alt="image" style="width: 150px;" >
                        <img src="{% static 'transbank.svg' %}" class="" alt="image" style="width: 230px;">
                    </div>
                </div>

                <div class="row col-md-2">
                    <h3 style="font-weight: 700; font-size: 30;"> 
                    Conócenos
                    </h3>
                    <div id="pagos" class="col-md">
                        <img src="{% static 'wsp.svg' %}" class="py-1" alt="image" style="width: 60px;">
                        <img src="{% static 'facebook.svg' %}" class="py-1" alt="image" style="width: 60px;" >
                        <img src="{% static 'tiktok.svg' %}" class="py-1" alt="image" style="width: 60px;">
                        <img src="{% static 'insta.svg' %}" class="py-1" alt="image" style="width: 60px;">
                    </div>
                     
                </div>
            </div>
        </div>
        <div class="container-fluid py-5 my-0">
            <div class="col text-center" style="color:aliceblue; font-family: 'Courier Prime';">
                    <h4>
                           Dulzura que une mundos ୧ ‧₊˚ 🍮 ⋅ ☆
                    </h4>
                    <br>
                    <h5 class="font-weight: 200;"> 
                            © Merokoton
                    </h5>
             </div>
        </div>

</section>